img{
    width: 150px;
    height: 150px;
    margin: 50px;
}

body,footer{
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

body,footer,section{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

h1{
    position: relative;
    font-size: 30pt;
}

button{
    height: 50px;
    width: 80px;
    font-size: 15pt;
}

section{
    flex-direction: row;
}