img,div{
    width: 150px;
    height: 150px;
}

img{
    opacity: 0;
}

div{
    background-color: blue;
    border-radius: 5px;
    margin: 50px;
}

body,footer{
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

body,footer,section{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

h1{
    position: relative;
    font-size: 30pt;
}

button{
    height: 50px;
    width: 80px;
    font-size: 15pt;
}

section{
    flex-direction: row;
}

.animazione{
    animation-name: animazione;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes animazione{
    0%{
        opacity: 0%;
    }

    50%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}